*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a{
    text-decoration: none;
}
input{
    padding: 10px;
    border-radius: 5px;
    
}
.form{
    width:300px; 
    display: flex; 
    flex-direction: column;
    margin-left: 10px;
}
.btn{
    margin-top:30px;
    margin-top: 20px;
    padding: 14px;
    border-radius: 10px;
    background: rgb(78, 162, 201);
    outline: none;
    margin-left: 20px;
    transition: 1s;
    border: 0;
    font-size: 20px;
    cursor: pointer;
}
.btn:hover{
    transform:scale(105%);
}